.Wrapper {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.LoginForm {
  h1 {
    margin-bottom: 1rem;
  }
}

.Info {
  background: rgba(var(--info), 0.1);
  color: var(--foreground);
  font-size: 0.9rem;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 5px;
}
