.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar {
  padding-block: 1rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;
}

.UserSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  p {
    font-size: 0.8rem;
  }
}

a {
  color: var(--foreground);
  text-decoration: none;
  &:hover {
    color: var(--primary);
  }
}

@media (width < 768px) {
  .Wrapper {
    flex-direction: column;
    padding-top: 1rem;
  }
  .Navbar {
    flex-direction: column;
  }
}
