@font-face {
  font-family: "Geist";
  src: local("Geist-Regular"), url("./assets/fonts/Geist-Regular.woff") format("woff");
}

:root {
  --background: #fff;
  --foreground: #141414;
  --primary: #0084ff;
  --border: #aaa;
  --destructive: 255, 0, 0;
  --info: 50, 100, 255;
  --success: 0, 100, 0;
  --primary-rgb: 0, 132, 255;
}

/**CSS Reset**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Geist", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(
    45deg,
    hsl(4deg 49% 84%) 0%,
    hsl(357deg 47% 82%) 8%,
    hsl(350deg 45% 81%) 17%,
    hsl(342deg 42% 78%) 25%,
    hsl(334deg 37% 76%) 33%,
    hsl(323deg 32% 74%) 42%,
    hsl(310deg 26% 71%) 50%,
    hsl(291deg 25% 69%) 58%,
    hsl(273deg 28% 69%) 67%,
    hsl(256deg 30% 69%) 75%,
    hsl(239deg 32% 68%) 83%,
    hsl(226deg 38% 65%) 92%,
    hsl(217deg 43% 61%) 100%
  );
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
